body {
  width: 800px;
  margin: 50px auto;
  font-family: 'Helvetica', 'Arial', sans-serif;
}

h2 {
  font-weight: 200;
  text-align: center;
  margin-bottom: 40px;
  text-transform: uppercase;
}

textarea {
  box-sizing: border-box;
  width: 800px;
  height: 500px;
  border: 1px solid black;
  outline: none;
}

button {
  display: block;
  width: 800px;
  border: 1px solid black;
  margin: 5px 0;
  background: white;
  text-transform: capitalize;
}

button:hover {
  background: #eee;
  cursor: pointer;
}

.order {
  display: flex;
  flex-direction: row;
}

.col {
  display: flex;
  flex-grow: 1;
}

input {
  border: 1px solid black;
  outline: none;
  flex-grow: 1;
}

label {
  text-align: center;
  flex-grow: 1;
}
