
@import "./variables";

body, html, #app {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  background: $fiord;
}

header {
  flex-shrink: 0;
  box-sizing: border-box;

  background: $shamrock;
  background: radial-gradient(circle at 1.97% 82.98%, $fontain-blue, transparent 100%),
              radial-gradient(circle at 98.03% 64.97%, $shamrock, transparent 100%),
              radial-gradient(circle at 50% 50%, #ffffff, #ffffff 100%);

  height: 300px;
  color: white;
  border-bottom: 3px solid $cruise;

  h1 {
    text-align: center;
    font-weight: 300;
    font-size: 4em;
    margin: 70px 0 0 0;
    padding: 0;
  }

  p {
    text-align: center;
    font-weight: 100;
    font-size: 2.5em;
    margin: 0;
    padding: 0;
  }

  .header-center {
    position: relative;
    width: 800px;
    margin: 0 auto;

    .pair-dropdown {
      position: absolute;
      top: 10px;
    }
  }

  .account-container {
    position: absolute;
    top: 10px;
    right: 10px;
  }

  .account {
    position: absolute;
    top: 20px;
    right: 20px;
  }
}

.main {
  width: 800px;
  margin: 0 auto;

  & > h2 {
    color: white;
    font-weight: 100;
    font-size: 1.5em;
    margin-top: -15px;
    margin-bottom: 22px;
    border-left: 1px solid white;
    padding-left: 12px;
  }
}

.order-book-container {
  display: flex;
  flex-direction: row;

  .order-book {
    flex: 1;
  }
}

@import "./components/modal";
@import "./components/button";
@import "./components/spinner";
@import "./components/account";
@import "./components/orderBook";
@import './components/moneyInput';
@import "./components/walletIcon";
@import "./components/orderNumber";
@import "./components/createOrder";
@import "./components/pairDropdown";
@import "./components/switchButton";
