
// COLORS
$cruise: #c7efe6;
$fontain-blue: #4cbbc4;
$pelorous: #37b5bb;
$shamrock: #3cd3ad;
$curious-blue: #3294e2;
$bright-turquoise: #29ffc6;
$fiord: #3b495f;
$amber: #ffc107;
$purple: #8f629c;
$yellow: #e2ae16;
$red: #c13939;
$flamingo: #f5613e;
$bermuda: #8cdecc;
$light-gray: #f3f5f6;
// fiord
$fiord-dark: darken($fiord, 4%);
$fiord-gray: lighten($fiord, 2%);
$fiord-light-gray: #9eaec7;

// SPINNER:
$spinner-thickness: 4px;
$spinner-width: 40px;
