
.wallet {
  .address {
    position: absolute;
    top: 10px;
    opacity: 0;
    right: 0px;
    transition: opacity 100ms, right 400ms;
    font-weight: 200;
  }
  
  &:hover {
    .address {
      opacity: 1;
      right: 55px;
    }
  }
}
