
@import "../variables";

.button {
  outline: none;
  border-radius: 3px;
  border: 1px solid $curious-blue;
  padding: 0 15px;
  font-size: 1em;
  font-weight: 300;

  transition: background-color 200ms;

  &.secondary {
    background-color: transparent;
    color: $curious-blue;
  }

  &.primary {
    background-color: $curious-blue;
    color: white;
  }

  &:hover {
    cursor: pointer;

    background-color: darken($curious-blue, 10%);
    color: darken(white, 10%);
  }

  &:active {
    background: $curious-blue;
    border: 1px solid darken($curious-blue, 10%);
  }

  &[disabled] {
    background: rgba($curious-blue, 0.2);
    border-color: rgba($curious-blue, 0.2);
    color: rgba(white, 0.5);
    cursor: not-allowed;
  }
}
