
@import "../variables";

.create-order {
  display: flex;
  flex-direction: column;

  box-sizing: border-box;
  position: relative;
  top: -40px;

  margin: 0 auto;

  background: $fiord;
  border: 2px solid $fiord-dark;
  border-radius: 3px;

  .compact-view {
    padding: 15px;
    display: flex;
    flex-direction: row;

    & > * {
      flex: 2;
      margin: 0 5px;
    }

    .money-input {
      flex: 3;
    }

    & > label {
      flex: 1;
      user-select: none;
      color: white;
      display: flex;
      justify-content: center;
      flex-direction: column;
      text-align: center;
      font-weight: 300;
      font-size: 0.9em;
    }
  }
}
