
@import "../variables";

.overlay {
  display: flex;
  opacity: 0;
  align-items: center;

  position: fixed;
  top: 0; left: 0; bottom: 0; right: 0;
  z-index: 1000;
  background: rgba($fiord, 0.85);

  transition: opacity 300ms;

  &.open {
    opacity: 1
  }
}

.modal {
  $border-radius: 4px;

  position: relative;
  width: 600px;
  margin: 0 auto;

  .modal-body {
    padding: 30px;
    background: white;
  }

  .modal-header {
    background: white;

    border-top-left-radius: $border-radius;
    border-top-right-radius: $border-radius;

    padding: 20px;
    font-size: 1.2em;
    font-weight: 500;
    color: $fiord;

    .icon {
      $color-opacity: 0.2;

      color: white;
      width: 30px;
      height: auto;
      padding: 10px;
      margin-right: 15px;
      border-radius: 50%;

      &.success {
        color: darken($bermuda, 10%);
        background: rgba($bermuda, $color-opacity);
      }

      &.error {
        color: $red;
        background: rgba($red, $color-opacity);
      }
    }

    & > .close {
      position: absolute;
      right: 0;
      margin: 10px 20px;
      width: 25px;
      height: auto;
      color: $fiord;

      &:hover {
        cursor: pointer;
      }
    }
  }

  .modal-footer {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    background: $light-gray;
    border-bottom-left-radius: $border-radius;
    border-bottom-right-radius: $border-radius;
    height: 35px;
    padding: 20px;

    & > button {
      margin-left: 10px;
    }
  }
}
