
@import "../variables";

.money-input {
  $height: 37px;
  $currencyWidth: 40px;

  display: flex;
  flex-direction: row;
  line-height: $height;

  input {
    width: calc(100% - #{$currencyWidth});
    box-sizing: border-box;

    outline: none;
    border-radius: 2px 0 0 2px;
    border: none;

    font-size: 1em;
    font-weight: 300;
    padding-left: 10px;
  }

  .currency {
    user-select: none;
    padding: 0 10px;
    background: white;
    color: rgba($curious-blue, 0.35);
    width: $currencyWidth;

    text-transform: uppercase;
    font-size: 0.75em;
    font-weight: 600;

    border-radius: 0 2px 2px 0;
  }
}
