
@import "../variables";

.order-book {
  display: flex;
  flex-direction: column;

  border: 2px solid $fiord-dark;
  border-left: 0;

  &:first-child {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    border-left: 2px solid $fiord-dark;
  }

  &:last-child {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
  }

  .row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    color: white;
    font-weight: 100;

    & > * {
      padding: 5px 10px;
      flex: 1;
    }

    &:nth-child(even) {
      background: $fiord-gray;
      border-radius: 2px;
    }

    &.header {
      user-select: none;
      text-align: right;
      text-transform: capitalize;
      font-weight: 300;

      border-bottom: 1px solid $fiord-dark;

      span {
        display: inline-block;
        margin: 0 20px;
      }
    }
  }
}
