
@import "../variables";

.order-number {
  $color-opacity: 0.6;

  font-family: 'Roboto Mono', monospace;
  font-weight: 500;
  font-size: 0.8em;
  text-align: right;

  color: white;

  .integer, .rest {
    color: rgba(white, $color-opacity);
  }

  &.color {
    &.bid {
      color: $bermuda;

      .integer, .rest {
        color: rgba($bermuda, $color-opacity);
      }
    }

    &.ask {
      color: $flamingo;

      .integer, .rest {
        color: rgba($flamingo, $color-opacity);
      }
    }
  }
}
