
@import "../variables";

.pair-dropdown {
  user-select: none;
  font-family: 'Roboto Mono', monospace;

  .selection {
    background-image: url('../images/caret.png');
    background-repeat: no-repeat;
    background-size: 10px 10px;
    background-position: 90% 55%;
    background-color: $pelorous;

    border-radius: 2px;
    padding: 8px 30px 8px 8px;

    & > span {
      margin: 0 3px;
    }

    &:hover {
      cursor: pointer;
      background-color: darken($pelorous, 1%);
    }
  }
  .menu {
    position: absolute;
    display: flex;
    flex-direction: row;

    opacity: 0;
    transform: translateY(20px);
    margin-top: 8px;
    font-weight: 300;

    transition: opacity 0.1s 0s, transform 0.1s 0s;

    &.visible {
      opacity: 1;
      transform: translateY(0);
    }

    & > div {
      $radius: 3px;

      padding: 5px 0;
      text-align: center;
      background: rgba(white, 0.3);
      border-top-right-radius: $radius;
      border-bottom-right-radius: $radius;

      &:first-child {
        margin-left: 0;
        border-left: 0;
        background: rgba(white, 0.4);
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        border-top-left-radius: $radius;
        border-bottom-left-radius: $radius;
      }

      & > div {
        transition: 200ms background;
        padding: 1px 15px;

        &:hover {
          cursor: pointer;
          background: rgba($pelorous, 0.2);
        }

        &.selected {
          background: $pelorous;
        }

        &:active {
          background: rgba($pelorous, 0.5);
        }
      }
    }
  }
}
