
@import "../variables";

.spinner {
  position: relative;

  font-size: 10px;
  text-indent: -9999em;

  border-top: $spinner-thickness solid rgba(white, 0.2);
  border-right: $spinner-thickness solid rgba(white, 0.2);
  border-bottom: $spinner-thickness solid rgba(white, 0.2);
  border-left: $spinner-thickness solid white;

  transform: translateZ(0);
  animation: spin 1.1s infinite linear;

  &, &:after {
    border-radius: 50%;
    width: $spinner-width;
    height: $spinner-width;
  }

  @keyframes spin {
    0%    { transform: rotate(0deg); }
    100%  { transform: rotate(360deg); }
  }
}
