
@import "../variables";

.switch-button {
  user-select: none;
  display: flex;
  flex-direction: row;

  button {
    background: $curious-blue;
    border: 1px solid $curious-blue;
    outline: none;
    margin: 0;
    padding: 0 15px;
    color: white;
    font-size: 1em;
    font-weight: 100;

    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;

    transition: background-color 200ms;

    &:first-child {
      border-top-left-radius: 2px;
      border-bottom-left-radius: 2px;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }

    &.selected {
      background: darken($curious-blue, 10%);
      font-weight: 300;
    }

    &:hover {
      cursor: pointer;
    }
  }
}
