
@import "../variables";

.wallet-icon {
  & > div {
    box-shadow: 1px 1px 35px 0px $bright-turquoise;
    transition: box-shadow 200ms;

    &:hover {
      box-shadow: 1px 1px 35px 10px $bright-turquoise;
      cursor: pointer;
    }
  }

  &.white > div   { border: 3px solid white; }
  &.purple > div  { border: 3px solid $purple; }
  &.red > div     { border: 3px solid $red; }
  &.yellow > div  { border: 3px solid $yellow; }
}
